.hero {
  position: relative;
  height: 120px;
  color: #fff;
}

.navbar-2 {
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  float: none;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.container1 {
  display: block;
  min-height: 0px;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-img-header {
  display: block;
  height: 685%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  background-image: url('images/LB_0005.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.icon {
  color: #fff;
  font-size: 40px;
}
.contatoResponsivo{
  display: none;
}
.container-box-header-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
  float: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.base-box {
  width: 800px;
  min-height: 200px;
  padding: 52px 61px;
  background-color: #002c50e0;
}

.heading-emprea {
  display: block;
  margin-top: 58px;
  margin-bottom: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.heading-2 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 200;
}

.column {
  position: static;
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 100px auto;
}

.row {
  height: 100%;
}

.column-2 {
  height: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 215px 71px;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  min-height: 48px;
  line-height: 20px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 45px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c7a152;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: center;
}

.section {
  height: 659px;
  margin-top: 44px;
  margin-bottom: 44px;
}

.section-2 {
  min-height: 830px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.countainer3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  display: inline-block;
  padding-top: 120px;
  padding-bottom: 120px;
}

.div-block {
  position: absolute;
  width: 555px;
  height: 900px;
  margin-left: 50px;
  padding: 0px 90px;
  background-color: #002c50;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  color: #c7a152;
  font-size: 24px;
  font-weight: 500;
}

.div-block-2 {
  position: absolute;
  display: block;
  max-width: 192px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-2 {
  width: 100%;
  max-width: auto;
}

.container5 {
  display: block;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 93px;
  padding-bottom: 93px;
}

.section-3 {
  height: 650px;
}
.home .section-3 {
  height: initial;
}
.home .container5 {
padding: 30px 0 90px 0px;
}

.heading-6 {
  text-align: center;
}

.heading-7 {
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.home .heading-7{
   margin-top: 60px;
    margin-bottom: 111px;
}
.home .section-6{
      min-height: 400px;
            height: inherit;
}
.div-parceiros{
      padding-top: 66px;
}
.div-parceiros .heading-7{
    margin-top: 0;
    margin-bottom: 40px;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-17 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.paragraph-2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.column-3 {
  padding-right: 35px;
  padding-left: 35px;
}

.column-4 {
  padding-right: 36px;
  padding-left: 36px;
}

.column-5 {
  padding-right: 36px;
  padding-left: 36px;
}

.section-4 {
  height: 319px;
  max-width: none;
  background-image: url('images/img-caixa-financiamento.png');
  background-position: 50% 50%!important;
  background-size: cove!importantr;
  background-repeat: no-repeat;
}

.container1-servicos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container1-caixa {
  display: block;
  height: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-9 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 49px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.heading-10 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-5 {
  min-height: 1300px;
  background-color: #f5f6f7;
}

.container-projetos {
  display: block;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.home .container-projetos {

  padding-top: 60px;
    padding-bottom: 175px;
}
.home .section-5{
  min-height: 1150px;
}

.div-block-3 {
  width: 493px;
  height: 679px;
}

.div-block-4 {
  position: absolute;
  display: block;
  width: 458px;
  height: 375px;
  margin-top: 304px;
  margin-right: 1px;
  margin-left: -62px;
  padding: 70px 68px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
}

.heading-11 {
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-weight: 300;
}

.div-block-5 {
  position: absolute;
  width: 292px;
  height: 97px;
  margin-top: 99px;
  margin-left: 183px;
  background-color: #c7a152;
}

.row-3 {
  height: 100%;
}

.link-block {
  position: absolute;
  width: 292px;
  height: 97px;
  margin-top: 99px;
  margin-left: 195px;
  background-color: #c7a152;
}

.row-4 {
  height: 100%;
}

.heading-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-13 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #af8d46;
}

.section-6 {
  height: 445px;
  background-color: #fff;
}

.div-parceiros {
  display: block;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-14 {
  text-align: center;
}

.column-8 {
  text-align: center;
}

.column-9 {
  text-align: center;
}

.column-10 {
  text-align: center;
}

.column-11 {
  text-align: center;
}

.section-7 {
  height: 400px;
  background-color: #f5f6f7;
}

.text-field {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.column-12 {
  height: 45px;
}

.column-13 {
  height: 45px;
}

.text-field-2 {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.column-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: auto;
  padding-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: left;
}

.column-15 {
  display: block;
}

.section-8 {
  height: 285px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #002c50;
}

.navbar-3 {
  position: absolute;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-menu-footer {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.column-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.column-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 102px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-6 {
  height: 1px;
  max-height: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #000;
}

.text-block {
  font-family: Montserrat, sans-serif;
  color: #4d698a;
  font-weight: 300;
}

.column-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 300;
}

.column-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -19px;
  padding-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.heading-15 {
  text-align: center;
}

.div-title-empresa {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 1200px;
  height: 100px;
  margin-top: 400px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-7 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: none;
  height: 120px;
  max-height: 120px;
  background-color: #fff;
}

.icon-menu {
  color: #fff;
  font-size: 40px;
}

.section-nossa-historia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-nossa-historia {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.row-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section-features {
  min-height: 611.5px;
}

.div-features {
  position: static;
  display: block;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 90px;
  padding-left: 90px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row-7 {
  position: absolute;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-16 {
  font-size: 24px;
}

.heading-8 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.row-8 {
  position: absolute;
}

.image-4 {
  max-width: 1400px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-24 {
  position: static;
  display: block;
}

.column-25 {
  position: static;
}

.column-26 {
  position: static;
}

.div-feature {
  display: block;
  height: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 79px 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('images/blue-box-img.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-27 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  text-align: center;
}

.column-28 {
  text-align: center;
}

.column-29 {
  text-align: center;
}

.div-missao {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 430px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7f8;
}

.div-mvv {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-home {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #c7a152;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
}

.heading-emprea-2 {
  display: block;
  margin-top: 58px;
  margin-bottom: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.heading-emprea-3 {
  display: block;
  margin-top: 58px;
  margin-bottom: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.section-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 860px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-30 {
  text-align: center;
}

.heading-19 {
  font-family: Montserrat, sans-serif;
  color: #c7a152;
  font-size: 16px;
  font-weight: 400;
}

.column-31 {
  text-align: center;
}

.column-32 {
  text-align: center;
}

.image-5 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.image-6 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.image-7 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.section-projetos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7f8;
}

.button-2 {
  position: static;
  display: block;
  width: 170px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #002c50;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: center;
}

.row-9 {
  padding-top: 1px;
  padding-bottom: 19px;
}

.container-img-header-history {
  display: block;
  height: 685%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  background-image: url('images/img-header.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.div-line {
  height: 1px;
  max-height: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #000;
}

.hero-2 {
    position: absolute;
  display: block;
  min-height: 120px;
  /* -webkit-box-pack: center; */
  /* -webkit-justify-content: center; */
  -ms-flex-pack: center;
  /* justify-content: center; */
  /* -webkit-box-align: center; */
  /* -webkit-align-items: center; */
  -ms-flex-align: center;
  /* align-items: center; */
  color: #fff;
  width: 100%;
  z-index: 9999;
}

.div-line-header {
  height: 0px;
  max-height: 1px;
  background-color: grey;
  color: rgba(0, 0, 0, .16);
}

.section-img-empresa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('images/img-header.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-title-header {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-20 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.section-header-projetos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-header-projetos {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-21 {
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.div-block-9 {
  max-width: 1200px;
}

.div-projetos-lista {
  display: block;
  max-width:95%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-projetos {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 16px;
  line-height: 26px;
}

.link-2 {
  font-family: Montserrat, sans-serif;
  color: #c7a152;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.row-10 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.section-comments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7f8;
}

.div-comments {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.column-33 {
  padding-right: 38px;
  padding-left: 38px;
  text-align: center;
}

.image-8 {
  float: none;
}

.image-9 {
  position: static;
  clear: none;
  text-align: center;
  text-transform: none;
}

.div-block-10 {
  padding-top: 29px;
  padding-bottom: 0px;
}

.column-34 {
  padding-right: 39px;
  padding-left: 39px;
  text-align: center;
}

.column-35 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-header-nossos-servicos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 480px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-servicos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 570px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7f8;
}

.div-servicos {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading-22 {
  padding-left: 14px;
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-size: 24px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.column-36 {
  padding-right: 0px;
  padding-left: 143px;
}

.column-37 {
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.row-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-38 {
  padding-left: 0px;
}

.section-servicos-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 570px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7f8;
}

.section-service-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 570px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-servicos-2 {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.row-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-39 {
  padding-right: 48px;
}

.section-projeto-selecionado {
  height: auto;
  margin-bottom: 49px;
}

.div-projeto-selecionado {
  display: block;
  height: 100%;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.heading-23 {
  margin-top: 38px;
  margin-bottom: 38px;
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-size: 36px;
  font-weight: 500;
}

.mask {
  width: 750px;
  height: 450px;
}

.slider {
  position: absolute;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-arrow {
  display: block;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-arrow {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.slider-2 {
  width: 750px;
  height: 449px;
}

.div-contato {
  display: block;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}
.div-contato h1{
  text-transform: uppercase;
      color: #06294e;
}
.home .div-contato h1{
    margin: 0;
}
.form {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-right: 20px;
  padding-left: 20px;
}

.text-field-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-field-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-field-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-field-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-10 {
  display: block;
  height: 460px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7f8;
}

.div-block-11 {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.page-template-contato .div-block-11{
  max-width: 100%;
}

.heading-24 {
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.row-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-40 {
  height: 100%;
}

.map {
  height: 100%;
  margin-right: 0px;
}

.column-41 {
  display: block;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  color: #002c50;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link.w--current {
  color: #c7a152;
}

.nav-menu {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.menu-button.w--open {
  background-color: #002c50;
  color: #002c50;
}

.icon-menu-2 {
  color: #002c50;
  font-size: 40px;
}

.nav-menu-2 {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .37);
  background-color: #fff;
}

.menu-button-2 {
  background-color: #fff;
}

.heading-2-home {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
}
.correcaoMargin{
  margin-bottom: 25px;
}

@media(max-width: 1200px){
  .navbar-2{
    padding: 10px;
  }
}
@media(max-width: 768px){
  .section-2{
    min-height: 753px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .home .container-projetos{
    padding-bottom: 70px;
  }
  .base-box{
    padding: 10px 10px;
    width: 100%;
    max-width: 800px;
  }
  .div-block{
    margin: 0;
    width: 100%;
    height: auto;
    padding: 50px 20px;
  }
  .section-3{
    height: auto;
  }
  .column-15{
    margin-bottom: 36px;
  }
  .section-5,.section-6{
    height: auto;
  }
  .link-block{
    position: inherit;
    margin-top: inherit;
    margin-left: inherit;
  }
  .div-block-4{
    position: inherit;
    margin-top: 0;
    margin-right: inherit;
    margin-left: inherit;
    padding: inherit;
    width: 100%;
    height: 266px;
      padding-top: 10px;
  }
  .home .heading-7 {
    margin-top: 0;
    margin-bottom: 0;
}
  .heading-11{
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .div-menu-footer{
    text-align: center;
  }
  .navRodape{
    display: none;
  }
  .hiddenFooter{
    display: none;
  }
  .contatoResponsivo{
    display: block;
  }
  .section-6 img{
    margin-bottom: 20px;
  }
  .section-7{
    height: auto;
  }
  .section-7 input{
    margin-bottom: 10px;
  }
  .heading-7,.heading-7{
    font-size: 25px;
  }
  .heading-20{
    font-size: 25px;
  }
  .section-8{
    height: auto;
  }
  .section{
        height: 1047px;
  }
  .page-template-empresa .row-6{
    display: inherit;
  }
  .div-feature{
    padding: 50px 10px;
  }
  .div-missao,.section-team{
    height: auto;
  }
  .div-features{
    padding: 10px;
  }
  .post-type-archive-servico .column-36{
    padding: 10px;
  }
  .post-type-archive-servico .column-37{
    text-align: center;
  }
  .section-servicos{
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
  }
  .section-4{
    display: none;
  }
  .div-header-projetos .row-11{
    display: inherit;
  }
  .section-header-nossos-servicos{
    height: auto;
  }
  .div-servicos-2{
    margin-bottom: 50px;
  }
  .div-servicos-2 img{
    margin: 10px 0;
  }
  .section-header-projetos{
    height: auto;
  }
  .paragraph{
    padding: 10px;
  }
  .heading-3{
    padding: 10px;
    text-transform:uppercase;
  }
  .section-contato{
    padding: 0 10px;
  }
  .page-template-contato .row-16{
    display: inherit;
  }
  .map{
    display: none;
  }
}

.section-comments{
  display: none;
}

.textoProjetos{
      margin-top: 40px;
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    color: #969696;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}
.textoProjetos p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    color: #969696;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}
  .textoProjetos ul{

  }
  .textoProjetos ul li{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    color: #969696;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
  .contatosInfos{
    max-width: 492px;
    margin: 0 auto;
  }
  #mensagem{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 150px;
    max-height: 150px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
  }

  /* MENU */
  .navMenu{
    float: right;
    display: block;
  } 
    .navMenu a{
      font-weight: 500;
      text-transform: uppercase;
      font-size: 16px;
    }
      .navMenu a:hover{
        background: #002c50;
        color: #fff;
      }
    .topoLogo{
      display: none;
    }
    .bottomLogo{

    }
.btnAbrirmenu{
 display: block;
 border-radius: 5px;
 border: solid 2px #fff;
 /* padding: 20px 25px; */
 float: right;
 background: #0000008c;
 width: 60px;
 min-height: 50px;
 outline: none;
 display: none;
}
  .btnAbrirmenu span{
    background: #fff;
    margin: 5px 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
  }
/* PADDING PÁGINAS  */
  .post-type-archive-servico .section-header-nossos-servicos{
    padding-top: 160px;
  }
  .post-type-archive-projetos .section-header-projetos{
    padding-top: 280px;
  }
   .single-projetos .section-projeto-selecionado{
    padding-top: 180px;
  }
  .page-template-contato  .section-contato{
    padding-top: 180px;
  }
  
  .paragraph{
   
     font-family: Montserrat, sans-serif;
    color: #969696;
   
    line-height: 26px;
   
  }
  .paragraph span{
     font-family: Montserrat, sans-serif;
    color: #969696;
   
    line-height: 26px;
    
  }
   .areaContoato{
      background: #f5f6f7;
      text-align: center;
      padding: 40px;
    } 
      .areaContoato a{
       text-transform: uppercase;
       padding: 10px 35px;
       background: #002c50;
       color: #fff;
       text-decoration: none;
       font-size: 18px;
       font-weight: 100;
       border: solid 1px transparent;
      }
        .areaContoato a:hover{
         background: transparent;
         color: #002c50;
         border-color: #002c50;
        }
@media(max-width: 835px){
   .topoLogo{
      display: block;
      text-align: center;
    }
    .bottomLogo{
      display: none;
    }
    .navMenu {
        float: inherit;
        text-align: center;
    }

}
@media(max-width: 768px){
  .navMenu{
    display: none;
    position: relative;
    z-index: 999999;
    background: #fff;
    
  }
  .navbar-2{
    border-bottom: solid 2px #ccc;
  }
  .btnAbrirmenu{
    display: block;
    position: relative;
    z-index: 99999999999;
  }
  .navMenu a{
    display: block;
  }
  .page-template-empresa .navMenu a{
    color: #002c50;
  } 
  .navMenu a:hover{
    background: #002c50;
    color: #fff;
  }
  .areaContoato {
    background: #f5f6f7;
    text-align: center;
    padding: 50px 10px;
}

}
@media(max-width: 400px){
  .areaContoato a{
    display: block;
    padding: 10px;
  }
}

